.grid {
  display: grid;
  width: 1280px;
  height: 970px;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.grid__card {
  width: 413px;
  height: 445px;
  overflow: hidden;
}

.grid__card_image {
  width: 413;
  height: 413px;
}

.grid__card_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500px;
}
