.cards {
  padding-top: 20px;
  margin: auto auto;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
}

.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  margin: 0;
  padding: 0 0 40px 0;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    padding: 0 0 20px;
    gap: 20px;
  }
}
